# Flutter
.dart_tool/
.packages
build/
*.iml
.idea/
.metadata
.flutter-plugins
.flutter-plugins-dependencies
devtools_options.yaml

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
*.swp
*.swo

# Hermes local
.env
